/* general styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #F2F2F2 20%, #F2F2F2 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #F2F2F2 20%, #F2F2F2 80%, transparent 80%, transparent) 22.5px 22.5px, linear-gradient(#764248 1.8px, transparent 1.8px) 0 -0.9px, linear-gradient(90deg, #764248 1.8px, #F2F2F2 1.8px) -0.9px 0;
    background-size: 45px 45px, 45px 45px, 22.5px 22.5px, 22.5px 22.5px;}

.container {
    width: 50%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #FFCF00;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 16px 16px 0px 0px rgba(238, 97, 35, 1);
    -moz-box-shadow: 16px 16px 0px 0px rgba(238, 97, 35, 1);
    box-shadow: 16px 16px 0px 0px rgba(238, 97, 35, 1);
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #00916E;
    font-weight: bold;
    font-size: 50px;
}

/* form styling */
.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: #764248;
    font-weight: bold;
}

label {
    margin-right: 10px;
}

input[type="number"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
}

span {
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

input#result {
    color: #00916E;
    background: #FFE77C;
    margin-right: 10px;
}